# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# Generated data
data/PDF/
data/Docs/
data/TXT/
data/processed/
data/Scanned_Copy/

# ZIP files
*.zip

# Vector stores
*.faiss
*.db
*.sqlite

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store